<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pixel-painter</title>
</head>
<link rel="stylesheet" href="./css/main.css">

<body>
    <div class="nav">
        <a href="https://github.com/bairuobing" target="_black">
            <i class="iconfont">&#xea0a;&nbsp;&nbsp;Bairuobing</i>
        </a>
    </div>
    <div id="app">
        <div class="wrapper" ref="wrapper">
            <canvas @mousedown="prepareDrag" @mousemove="getSite" ref="canvas" :width="width" :height="height" style="top:0;left:0;"></canvas>
        </div>
        <button @click="startPickingColor" class="pick-btn">
            <unpicking v-if="!isPickingColor"></unpicking>
            <picking v-if="isPickingColor"></picking>
        </button>
        <input type="color" v-model="color" style="border-radius: 5px;">
        <span class="font">{{`(${currSite.x},${currSite.y})`}}</span>
        <span class="olCount"><i class="font">Online&nbsp;{{onlineCount}}</i></span>
        <div class="common-colors">
            <span v-for="c of commonColors" @click="color=c" :class="{'color-card':true,active:c==color}" :style="{color:c}"></span>
        </div>
    </div>
</body>
<template id="picking">
    <i class="iconfont" id="ing">&#xea0c;</i>
</template>
<template id="unpicking">
    <i class="iconfont" id="uning">&#xe702;</i>
</template>
<script src="./vue-2.5.17.js"></script>
<script src="./js/painter.js"></script>

</html>