<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pixel-painter</title>
</head>
<style>
    body {
        background-color: rgb(124, 123, 117);
    }
    .canvas {
        width: max-content;
    }

    canvas {
        vertical-align: bottom;
    }
</style>

<body>
    <div id="app">
        <div class="canvas">
            <canvas @click="handleCanvasClick" ref="canvas" :width="width" :height="height"></canvas>
        </div>
        <button @click="isPickingColor = true">{{isPickingColor ? '正在取色' : '取色'}}</button>
        <input type="color" v-model="color">
        <label v-for="c in commonColors" :style="{color: c.value}">
            <input type="radio" :value="c.value" v-model="color">{{c.name}}
        </label>
    </div>
</body>

<!-- <template>
    <div class="row" v-for="(row, y) in pixelData">
        <span class="dot" @click="drawDot(x, y, color)" v-for="(dotColor, x) in row" :style="{background: dotColor}"></span>
    </div>
</template> -->

<script src="./vue-2.5.17.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            pixelData: [],
            commonColors: [
            { 
                name: 'black', 
                value: '#000000'
            },
            {
                name: 'red', 
                value: '#FF0000'
            },
            { 
                name: 'orange', 
                value:	'#FFA500'
            },
            { 
                name: 'yellow', 
                value: '#FFD700'
            },
            { 
                name: 'green', 
                value: '#008000'
            },
            { 
                name: 'blue', 
                value: '	#1E90FF'
            },
            { 
                name: 'aqua', 
                value:'#00FFFF'
            },
            { 
                name: 'purple', 
                value: '#800080'
            },
            { 
                name: 'white',
                value: '#FFFFFF'
            },
            ],
            color: 'black',
            width: 256,
            height: 256,
            isPickingColor: false
        },
        methods: {
            // 用于功能分发
            handleCanvasClick: function(e) {
                if(this.isPickingColor) {
                    this.pickColor(e)
                } else {
                    this.drawDot(e)
                }
            },
            // rgb值转16进制
            rgba2hex: function(dot) {
                var arr = []
                arr.push(dot[0])
                arr.push(dot[1])
                arr.push(dot[2])
                // dot = dot.map(it => {
                //     it.toString(16).padStart(2, '0')
                // })
                
                var dot = arr.map(it => it.toString(16).padStart(2, '0'))
                // console.log(dot)
                return '#' + dot[0] + dot[1] + dot[2]
            },
            pickColor: function(e) {
                let x = e.layerX
                let y = e.layerY
                // 如何获取 canvas 的颜色，获取之后是一串数组（RGBA）
                let p = this.ctx.getImageData(x, y, 1, 1).data
                let hexColor = this.rgba2hex(p)
                this.color = hexColor
                this.isPickingColor = false
            },
            drawDot: function(e) {
                // 该函数参数表示(绑定的)鼠标点击事件（e），通过事件来追踪其点击的像素坐标
                console.log(e)
                
                this.ws.send(JSON.stringify({
                    type: 'drawDot',
                    x: e.layerX,
                    y: e.layerY,
                    color: this.color
                }))
            }
        },
        mounted() {
            var canvas = this.$refs.canvas
            // 去模糊
            canvas.style.imageRendering = 'pixelated'
            // 获取canvas 绘图上下文
            var ctx = canvas.getContext('2d')
            // 保存一份 ctx 在 this（Vue） 上，以备用
            this.ctx = ctx
            var ws = new WebSocket(`ws://${location.host}/yo`)
            this.ws = ws
            ws.onmessage = (e) => {//event
                // 接收到由ws发过来的 事件 messageEvent 中 blob 数据
                var data = e.data
                
                if(Object.prototype.toString.call(data) === '[object Blob]') {
                    console.log('Blob data received!')
                    let tmpUrl = URL.createObjectURL(data)
                    // console.log(tmpUrl)
                    let image = new Image()
                    // document.body.appendChild(image)
                    image.src = tmpUrl
                    // image 加载一张图片，加载完成后画在 canvas上
                    image.onload = function(){
                        ctx.drawImage(image, 0, 0)
                    }
                    
                    
                } else {
                    data = JSON.parse(data)
                    if (data.type == 'updateDot') {
                        console.log(data)
                        ctx.fillStyle = data.color
                        ctx.fillRect(data.x, data.y, 1, 1)
                        // Vue.set(this.pixelData[data.y], data.x, data.color)
                    }
                }
            }
        },
    })
</script>

</html>